<div class="product">
    <div class="left">
	    <img src="https://rukminim1.flixcart.com/image/832/832/television/z/f/w/bpl-bpl080d51h-original-imaees3rqyk6hgp7.jpeg?q=70">
    </div>
    <div class="right">
        <%= product.product%><br><br>
        <%= product.description%><br><br>
        <h3>Amount <%= product.amount%> <a href="#">Add To Cart</a>
</h3>
    </div>

</div>