// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sell{
    padding:10px 0px 10px 170px;
	margin-top:10px;
	margin-left:290px;
	margin-right:290px;
	background-color:skyblue;
	border:2px solid black;
}

