// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.product{
    padding:8px;
	display:flex;
	justify-content:space-between;
	height:auto;
	margin:10px 4px 0px 192px;
	box-sizing:border-box;
	background-color:skyblue;
}

div.product > div.left img{
	height:200px;
}

div.product > div.right {
	padding:10px;
}

