// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login{
	padding-left:170px;
	margin-top:10px;
	margin-left:290px;
	margin-right:290px;
	padding-bottom:10px;
	background-color:skyblue;
}
h4{
	padding-top:70px;
	text-align:center;
}

.signup{
	padding-left:170px;
	padding-top:10px;
	margin-top:10px;
	margin-left:290px;
	margin-right:290px;
	padding-bottom:10px;
	background-color:skyblue;
}